{{ include('/partials/header.twig') }}

<div class="container-box">
    <div class="nav-pages">
        <div class="first-box">
            <p class="description">
                Depuis 2000, Gad Elmaleh prête sa voix pour les versions française ou les films d'animation, qui pour lui, est une nouvelle expérience.
            </p>

        </div>
        <div class="container-contents">
            <section>
                <article>
                    <div class="title">
                        <h3>Tous les doublages</h3>
                    </div>
                    <div class="img-box">
                        {% for _dubbing in dubbings %}
                            <div class="image-container">
                                <a href="{{ url('dubbing', {name:_dubbing.slug}) }}" class="tag-a-block">
                                    <div class="image" style="background-image: url('{{ global.request.basepath }}/dist/img/dubbing/{{_dubbing.id}}.png')"></div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </article>
            </section>
        </div>
    </div>
</div>

{{ include('/partials/footer.twig') }}
