{{ include('/partials/header.twig') }}

<div class="container-box">
    <div class="nav-pages">
        <div class="first-box">
            <p class="description">
                En parallèle de sa carrière d'humoriste, Gad Elmaleh se lance dans le cinéma et apparaît en 1997 dans le film Salut Cousin ! de Merzak Allouache. Entre rôles dramatiques ou comédies, l'acteur enchaîne les films et anime même la cérémonie des Césars en 2004, 2005 et 2010. Côté international, l'acteur français fait plusieurs fois des apparations pour Woody Allen ou Steven Spielberg.
            </p>

        </div>
        <section>
            <article>
                <div class="title">
                    <h3>Tous les films</h3>
                </div>
                <div class="img-box">
                    {% for _film in films %}
                    <div class="poster">
                        <a href="{{ url('film', {id:_film.id}) }}"><img src="{{ global.request.basepath }}/dist/img/cinema/{{_film.id}}.png" alt="poster"></a>
                    </div>
                    {% endfor %}
                </div>
            </article>
        </section>
    </div>
</div>

{{ include('/partials/footer.twig') }}
