{{ include('/partials/header.twig') }}

<div class="first-section">
    <div class="header-left"></div>
    <div class="header-right">
        <div class="right-container">
            <div class="right-logo">
                <h1><img src="{{ global.request.basepath }}/dist/img/logo.png" alt="logo gad elmaleh"></h1>
            </div>
            <div class="right-adj">
                <div>#humoriste</div>
                <div>#acteur</div>
                <div>#réalisateur</div>
            </div>
            <h3>Alors que Gad Elmaleh est sans doute le comédien le plus connu et le plus aimé d'Europe, il s'est engagé dans le tout dernier chapitre de sa carrière: se transmettre au public américain.</h3>
            <form class="form-year" action="#" method="get">
                <div class="select-style">
                    <select name="formYear" required>
                        <option disabled selected>Choose a year</option>
                        <option>1999</option>
                        <option>2000</option>
                        <option>2001</option>
                        <option>2002</option>
                        <option>2003</option>
                        <option>2004</option>
                        <option>2005</option>
                        <option>2006</option>
                        <option>2007</option>
                        <option>2008</option>
                        <option>2009</option>
                        <option>2010</option>
                        <option>2011</option>
                        <option>2012</option>
                        <option>2013</option>
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                    </select>
                </div>
                <input type="submit" value="Envoyer">
            </form>
        </div>
    </div>
</div>
<section class="container-box">
    <article>
        <div class="title">
            <h3>Derniers films</h3>
            <p><a href="{{  url('films') }}">TOUT VOIR</a></p>
        </div>
        <div class="img-box">
            {% for _film in fewFilms %}
            <div class="poster">
                <a href="{{ url('film', {id:_film.id}) }}"><img src="{{ global.request.basepath }}/dist/img/cinema/{{_film.id}}.png" alt="poster"></a>
            </div>
            {% endfor %}
        </div>
    </article>
</section>
<section class="container-box">
    <article>
        <div class="title">
            <h3>Derniers spectacles</h3>
            <p><a href="{{  url('spectacles') }}">TOUT VOIR</a></p>
        </div>
        <div class="img-box">
            {% for _spectacle in fewSpectacles %}
            <div class="poster">
                <a href="{{ url('spectacle', {id:_spectacle.id}) }}"><img src="{{ global.request.basepath }}/dist/img/onemanshow/{{_spectacle.id}}.png" alt="poster"></a>
            </div>
            {% endfor %}
        </div>
    </article>
</section>
<section class="container-box">
    <article>
        <div class="title">
            <h3>Derniers doublages</h3>
            <p><a href="{{  url('dubbings') }}">TOUT VOIR</a></p>
        </div>
        <div class="img-box">
            {% for _dubbing in fewDubbings %}
            <div class="poster">
                <a href="{{ url('dubbing', {id:_dubbing.id}) }}"><img src="{{ global.request.basepath }}/dist/img/dubbing/{{_dubbing.id}}.png" alt="poster"></a>
            </div>
            {% endfor %}
        </div>
    </article>
</section>
<section class="container-box">
    <article>
        <div class="title">
            <h3>Derniers courts-métrages</h3>
            <p><a href="{{  url('shortfilms') }}">TOUT VOIR</a></p>
        </div>
        <div class="img-box">
            {% for _shortFilm in fewShort %}
            <div class="poster">
                <a href="{{ url('shortfilm', {id:_shortFilm.id}) }}"><img src="{{ global.request.basepath }}/dist/img/shortfilm/{{_shortFilm.id}}.png" alt="poster"></a>
            </div>
            {% endfor %}
        </div>
    </article>
</section>

{{ include('/partials/footer.twig') }}
