{{ include('/partials/header.twig') }}

<div class="first-section">
    <div class="header-left"></div>
    <div class="header-right">
        <div class="right-container">
            <div class="right-logo">
                <h1><img src="{{ global.request.basepath }}/dist/img/logo.png" alt="logo gad elmaleh"></h1>
            </div>
            <div class="right-adj">
                <div>#humoriste</div>
                <div>#acteur</div>
                <div>#réalisateur</div>
            </div>
            <h3>Alors que Gad Elmaleh est sans doute le comédien le plus connu et le plus aimé d'Europe, il s'est engagé dans le tout dernier chapitre de sa carrière: se transmettre au public américain.</h3>

            {{ form_start(year_form, {'attr' : { 'class': 'form-year' } }) }}
            <div class="select-style">
                {{ form_widget(year_form.year) }}
            </div>
            {{ form_widget(year_form.submit, { 'label': 'Envoyer' }) }}
            {{ form_end(year_form) }}
        </div>
    </div>
</div>
<div class="container-contents">
    <section class="container-box">
        <article>
            <div class="title">
                <h3>Derniers films</h3>
                <p><a href="{{  url('films') }}">TOUT VOIR</a></p>
            </div>
            <div class="img-box">
                {% for _film in fewFilms %}
                <div class="poster">
                    <a href="{{ url('film', {name:_film.slug}) }}">
                        <img src="{{ global.request.basepath }}/dist/img/cinema/{{_film.id}}.png" alt="poster">
                    </a>
                </div>
                {% endfor %}
            </div>
        </article>
    </section>
    <section class="container-box">
        <article>
            <div class="title">
                <h3>Derniers spectacles</h3>
                <p><a href="{{  url('spectacles') }}">TOUT VOIR</a></p>
            </div>
            <div class="img-box">
                {% for _spectacle in fewSpectacles %}
                <div class="poster">
                    <a href="{{ url('spectacle', {name:_spectacle.slug}) }}"><img src="{{ global.request.basepath }}/dist/img/onemanshow/{{_spectacle.id}}.png" alt="poster"></a>
                </div>
                {% endfor %}
            </div>
        </article>
    </section>
    <section class="container-box">
        <article>
            <div class="title">
                <h3>Derniers doublages</h3>
                <p><a href="{{  url('dubbings') }}">TOUT VOIR</a></p>
            </div>
            <div class="img-box">
                {% for _dubbing in fewDubbings %}
                <div class="poster">
                    <a href="{{ url('dubbing', {name:_dubbing.slug}) }}"><img src="{{ global.request.basepath }}/dist/img/dubbing/{{_dubbing.id}}.png" alt="poster"></a>
                </div>
                {% endfor %}
            </div>
        </article>
    </section>
    <section class="container-box">
        <article>
            <div class="title">
                <h3>Derniers courts-métrages</h3>
                <p><a href="{{  url('shortfilms') }}">TOUT VOIR</a></p>
            </div>
            <div class="img-box">
                {% for _shortFilm in fewShort %}
                <div class="poster">
                    <a href="{{ url('shortfilm', {name:_shortFilm.slug}) }}"><img src="{{ global.request.basepath }}/dist/img/shortfilm/{{_shortFilm.id}}.png" alt="poster"></a>
                </div>
                {% endfor %}
            </div>
        </article>
    </section>
</div>

{{ include('/partials/footer.twig') }}
