{{ include('/partials/header.twig') }}

<div class="container-box">
    <div class="nav-pages">
        <div class="first-box">
            <p class="description">
                En plus de faire le box-office, Gad Elmaleh aime jouer dans des courts-métrages.
            </p>

        </div>
        <section>
            <article>
                <div class="title">
                    <h3>Tous les courts-métrages</h3>
                </div>
                <div class="img-box">
                    <div class="poster">
                        <a href="#"><img src="{{ global.request.basepath }}/dist/img/film1.jpg" alt="poster"></a>
                    </div>
                    <div class="poster">
                        <a href="#"><img src="{{ global.request.basepath }}/dist/img/film1.jpg" alt="poster"></a>
                    </div>
                    <div class="poster">
                        <a href="#"><img src="{{ global.request.basepath }}/dist/img/film1.jpg" alt="poster"></a>
                    </div>
                    <div class="poster">
                        <a href="#"><img src="{{ global.request.basepath }}/dist/img/film1.jpg" alt="poster"></a>
                    </div>
                    <div class="poster">
                        <a href="#"><img src="{{ global.request.basepath }}/dist/img/film1.jpg" alt="poster"></a>
                    </div>
                    <div class="poster">
                        <a href="#"><img src="{{ global.request.basepath }}/dist/img/film1.jpg" alt="poster"></a>
                    </div>
                    <div class="poster">
                        <a href="#"><img src="{{ global.request.basepath }}/dist/img/film1.jpg" alt="poster"></a>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>

{{ include('/partials/footer.twig') }}
