{{ include('/partials/header.twig') }}

<div class="container-box">
    <div class="nav-pages">
        <div class="first-box">
            <p class="description">
                Gad débute sa carrière de comique comme assistant d'Elie Kakou. Il seconde Arthur dans la matinale d'Europe 2 en se faisant passer pour un auditeur, mais il souhaite surtout se lancer seul sur scène. Il faudra attendre 2000 pour l'admirer de en one-man show, avec "La vie normale", qui bénéficiera d'un buzz énorme avec des sketches devenus mythiques. Depuis, Gad Elmaleh enchaîne les spectacles et est devenu l'un des humoriste les plus appréciés par les français.
            </p>

        </div>
        <div class="container-contents">
            <section>
                <article>
                    <div class="title">
                        <h3>Tous les spectacles</h3>
                    </div>
                    <div class="img-box">
                        {% for _spectacle in spectacles %}
                        <div class="poster">
                            <a href="{{ url('spectacle', {id:_spectacle.id}) }}"><img src="{{ global.request.basepath }}/dist/img/onemanshow/{{_spectacle.id}}.png" alt="poster"></a>
                        </div>
                        {% endfor %}
                    </div>
                </article>
            </section>
        </div>
    </div>
</div>

{{ include('/partials/footer.twig') }}
