            <footer>
                <div class="footer container-box">
                    <ul>
                        <li>{{ countFilms.count}}</li>
                        <li>films</li>
                    </ul>
                    <ul>
                        <li>{{ countSpectacles.count }}</li>
                        <li>spectacles</li>
                    </ul>
                    <ul>
                        <li>{{ countDubbings.count }}</li>
                        <li>doublages</li>
                    </ul>
                    <ul>
                        <li>{{ countShortfilms.count }}</li>
                        <li>courts-métrages</li>
                    </ul>
                </div>
            </footer>

        </div>
    </body>
    <script src="{{ global.request.basepath }}/dist/js/script.min.js"></script>
</html>
