<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>GAD ELMALEH | Accueil</title>
    <meta description="Site non officiel de Gad Elmaleh qui archive tous les contenus de Gad Elmaleh"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ global.request.basepath }}/dist/css/style.min.css">
</head>
<body>
    <div class="container">
        <header>
            <nav class="container-box">
                <div class="logo">
                    <a href="{{ url('home') }}" class="tag-a-block">
                        <img src="{{ global.request.basepath }}/dist/img/logo_gad.png" alt="logo">
                    </a>
                </div>
                <ul>
                    <li class="nav-link"><a href="{{  url('films') }}">FILMS</a></li>
                    <li class="nav-link"><a href="{{  url('spectacles') }}">SPECTACLES</a></li>
                    <li class="nav-link"><a href="{{  url('dubbings') }}">DOUBLAGES</a></li>
                    <li class="nav-link"><a href="{{  url('shortfilms') }}">COURTS-MÉTRAGES</a></li>
                </ul>
                <div class="bars-container burger-icon">
                    <div class="bars"></div>
                </div>
            </nav>
        </header>
        <div class="burger-menu">
            <div class="bars-container burger-quit">
                <div class="bars"></div>
            </div>
            <nav>
                <ul>
                    <li class="nav-link"><a href="{{  url('films') }}">FILMS</a></li>
                    <li class="nav-link"><a href="{{  url('spectacles') }}">SPECTACLES</a></li>
                    <li class="nav-link"><a href="{{  url('dubbings') }}">DOUBLAGES</a></li>
                    <li class="nav-link"><a href="{{  url('shortfilms') }}">COURTS-MÉTRAGES</a></li>
                </ul>
            </nav>
        </div>
